<%include ../partials/header%>

<div class = "container" id = "newContainer">
	<div class="row">
        <h1 style="text-align: center">Edit comment</h1>
        <div style="width: 30%; margin: 25px auto;">
        	<form action = "/campgrounds/<%=campground_id%>/comments/<%=comment._id%>?_method=PUT" method = "POST">
				<div class="form-group">
					<label for="text">Comment</label>
					<input type="text" class="form-control" name="comment[text]" value = "<%=comment.text%>">	
				</div>											  
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>

<%include ../partials/footer%>