body{
	background: lightgray;
}

.a-button{
	margin: 2px;
}

.b-button{
	margin: 5px 5px 5px 30px;
}

.c-button{
	display: inline;
}
.thumbnail{
	padding:0;
}

.thumbnail img{
	width: 100%;
}

.thumbnail p{
	padding: 9px;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  height: 100%;
}